$fonteH1: 'Nunito', sans-serif;;
$fonteH2: 'Lora', serif;
$fonteSlogan: 'Dancing Script', cursive;
$corSlogan: #fff;
$tamanhoFonteLink: 1rem;
$corFundo: #111415; //Background
$corPrimaria: #7DCE82;
$corNav: #111415; //Nav
$corTitulo: #fff; //Cor H1
$corSubtitulo: #eee; //Cor H2, H3
$p1: 3rem; //Padding
$p-y: 0 1.5rem 0 1.5rem; //Padding direito e esquerdo
$p-x: 4rem 0; //Padding top e bottom
$m1: 1rem; //Margin
$m-y: 0 4.5rem; //Margin direito e esquerdo
$m-x: 1.5rem 0 1.5rem 0; //Margin top e bottom